/* ---- reset ---- */

body {
    margin: 0;
}

canvas {
    display: block;
    vertical-align: bottom;
}


#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #323840;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Montserrat',sans-serif;
}
.header {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site-title {
    font-size: 320%;
    display: block;
    line-height: 1;
    color: #fff;
}