
#command{
    display: inline-block;
    /* width: 100%; */
    border: 0px;
    background-color: black;
    color: #CCC5B9;
    outline-width: 0;
    font-size: 16px !important;
    margin-bottom: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    text-transform: lowercase;
}
#command-line span{
    display: inline-block;
}
#command-line{
    display: inline-block;
    width: 100%;
}


#about, #education, #projects, #experience, #skills, #contact, #connect, #error, #help, #download, #ls{
    display:none;
}

#resume-container{
    padding: 15px;
}

.available_commads{
    flex:1;
}


.borderless td, .borderless th {
    border: none;
    color: #CCC5B9;
}
.proj_name strong, .proj_name a{
    color:darkgoldenrod;
}
.proj_name a{
    text-decoration: underline;
}
.proj_name span{
    color:chocolate;
}