#typing > h1{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size:220%;
    margin:2.5px;
    color: white;
    font-weight: 500;
}

.header > h1{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size:320%;
    color: white;
    margin-top:1px;
    margin-bottom:1px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 400;
}
.main_head {
    color: #00F6ED;
    font-weight: 600;
}
.header{
    width: 92%;
}

@media(max-width: 550px){
#typing>h1 {
    font-size: 30px;
}
.header>h1 {
font-size: 30px;
}
.header{
    width: 90%;
}

}

@media(max-width: 900px) and (min-width: 550px) {
    #typing>h1 {
        font-size: 35px;
    }
    .header>h1 {
        font-size: 36px;
    }
    .header {
        width: 92%;
    }
}
.fa-html5{
    color: #FD7E14;
}
.fa-css3{
    color: #307CC7;
}
.fa-bootstrap{
   color: #723DBE;
}
.devicon-bootstrap-plain-wordmark.colored,
.devicon-bootstrap-plain.colored {
    color: #59407f;
}

[class*=" devicon-"],
[class^=devicon-] {
    font-family: devicon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


